#pokebola {
    margin: 20px;
    width: 10px;
    height: 10px;
    background-color: rgb(173, 171, 171);
    box-shadow: 0px 0px 0px 20px rgb(173, 171, 171),
                50px 0px 0px 20px rgb(173, 171, 171),
                100px 0px 0px 20px rgb(173, 171, 171),
                150px 0px 0px 20px rgb(173, 171, 171),
                200px 0px 0px 20px rgb(173, 171, 171),
                250px 0px 0px 20px black,
                300px 0px 0px 20px black,
                350px 0px 0px 20px black,
                400px 0px 0px 20px black,
                450px 0px 0px 20px rgb(173, 171, 171),
                500px 0px 0px 20px rgb(173, 171, 171),
                550px 0px 0px 20px rgb(173, 171, 171),
                600px 0px 0px 20px rgb(173, 171, 171),
                650px 0px 0px 20px rgb(173, 171, 171),

                0px 50px 0px 20px rgb(173, 171, 171),
                50px 50px 0px 20px rgb(173, 171, 171),
                100px 50px 0px 20px rgb(173, 171, 171),
                150px 50px 0px 20px black,
                200px 50px 0px 20px black,
                250px 50px 0px 20px purple,
                300px 50px 0px 20px purple,
                350px 50px 0px 20px purple,
                400px 50px 0px 20px purple,
                450px 50px 0px 20px black,
                500px 50px 0px 20px black,
                550px 50px 0px 20px rgb(173, 171, 171),
                600px 50px 0px 20px rgb(173, 171, 171),
                650px 50px 0px 20px rgb(173, 171, 171),
                
                0px 100px 0px 20px rgb(173, 171, 171),
                50px 100px 0px 20px rgb(173, 171, 171),
                100px 100px 0px 20px black,
                150px 100px 0px 20px purple,
                200px 100px 0px 20px purple,
                250px 100px 0px 20px white,
                300px 100px 0px 20px purple,
                350px 100px 0px 20px purple,
                400px 100px 0px 20px purple,
                450px 100px 0px 20px purple,
                500px 100px 0px 20px purple,
                550px 100px 0px 20px black,
                600px 100px 0px 20px rgb(173, 171, 171),
                650px 100px 0px 20px rgb(173, 171, 171),
                
                0px 150px 0px 20px rgb(173, 171, 171),
                50px 150px 0px 20px rgb(173, 171, 171),
                100px 150px 0px 20px black,
                150px 150px 0px 20px purple,
                200px 150px 0px 20px white,
                250px 150px 0px 20px white,
                300px 150px 0px 20px white,
                350px 150px 0px 20px purple,
                400px 150px 0px 20px purple,
                450px 150px 0px 20px purple,
                500px 150px 0px 20px purple,
                550px 150px 0px 20px black,
                600px 150px 0px 20px rgb(173, 171, 171),
                650px 150px 0px 20px rgb(173, 171, 171),
                
                0px 200px 0px 20px rgb(173, 171, 171),
                50px 200px 0px 20px black,
                100px 200px 0px 20px purple,
                150px 200px 0px 20px purple,
                200px 200px 0px 20px purple,
                250px 200px 0px 20px white,
                300px 200px 0px 20px purple,
                350px 200px 0px 20px purple,
                400px 200px 0px 20px purple,
                450px 200px 0px 20px purple,
                500px 200px 0px 20px purple,
                550px 200px 0px 20px purple,
                600px 200px 0px 20px black,
                650px 200px 0px 20px rgb(173, 171, 171),
                
                0px 250px 0px 20px rgb(173, 171, 171),
                50px 250px 0px 20px black,
                100px 250px 0px 20px purple,
                150px 250px 0px 20px purple,
                200px 250px 0px 20px purple,
                250px 250px 0px 20px purple,
                300px 250px 0px 20px black,
                350px 250px 0px 20px black,
                400px 250px 0px 20px purple,
                450px 250px 0px 20px purple,
                500px 250px 0px 20px purple,
                550px 250px 0px 20px purple,
                600px 250px 0px 20px black,
                650px 250px 0px 20px rgb(173, 171, 171),
                
                0px 300px 0px 20px rgb(173, 171, 171),
                50px 300px 0px 20px black,
                100px 300px 0px 20px black,
                150px 300px 0px 20px purple,
                200px 300px 0px 20px purple,
                250px 300px 0px 20px black,
                300px 300px 0px 20px white,
                350px 300px 0px 20px rgb(173, 171, 171),
                400px 300px 0px 20px black,
                450px 300px 0px 20px purple,
                500px 300px 0px 20px purple,
                550px 300px 0px 20px black,
                600px 300px 0px 20px black,
                650px 300px 0px 20px rgb(173, 171, 171),
                
                0px 350px 0px 20px rgb(173, 171, 171),
                50px 350px 0px 20px black,
                100px 350px 0px 20px white,
                150px 350px 0px 20px black,
                200px 350px 0px 20px black,
                250px 350px 0px 20px black,
                300px 350px 0px 20px rgb(173, 171, 171),
                350px 350px 0px 20px rgb(173, 171, 171),
                400px 350px 0px 20px black,
                450px 350px 0px 20px black,
                500px 350px 0px 20px black,
                550px 350px 0px 20px rgb(173, 171, 171),
                600px 350px 0px 20px black,
                650px 350px 0px 20px rgb(173, 171, 171),
                
                0px 400px 0px 20px rgb(173, 171, 171),
                50px 400px 0px 20px rgb(173, 171, 171),
                100px 400px 0px 20px black,
                150px 400px 0px 20px white,
                200px 400px 0px 20px white,
                250px 400px 0px 20px white,
                300px 400px 0px 20px black,
                350px 400px 0px 20px black,
                400px 400px 0px 20px rgb(173, 171, 171),
                450px 400px 0px 20px rgb(173, 171, 171),
                500px 400px 0px 20px rgb(173, 171, 171),
                550px 400px 0px 20px black,
                600px 400px 0px 20px rgb(173, 171, 171),
                650px 400px 0px 20px rgb(173, 171, 171),

                0px 450px 0px 20px rgb(173, 171, 171),
                50px 450px 0px 20px rgb(173, 171, 171),
                100px 450px 0px 20px black,
                150px 450px 0px 20px rgb(173, 171, 171),
                200px 450px 0px 20px white,
                250px 450px 0px 20px white,
                300px 450px 0px 20px white,
                350px 450px 0px 20px rgb(173, 171, 171),
                400px 450px 0px 20px rgb(173, 171, 171),
                450px 450px 0px 20px rgb(173, 171, 171),
                500px 450px 0px 20px rgb(173, 171, 171),
                550px 450px 0px 20px black,
                600px 450px 0px 20px rgb(173, 171, 171),
                650px 450px 0px 20px rgb(173, 171, 171),
                
                0px 500px 0px 20px rgb(173, 171, 171),
                50px 500px 0px 20px rgb(173, 171, 171),
                100px 500px 0px 20px rgb(173, 171, 171),
                150px 500px 0px 20px black,
                200px 500px 0px 20px black,
                250px 500px 0px 20px rgb(173, 171, 171),
                300px 500px 0px 20px rgb(173, 171, 171),
                350px 500px 0px 20px rgb(173, 171, 171),
                400px 500px 0px 20px rgb(173, 171, 171),
                450px 500px 0px 20px black,
                500px 500px 0px 20px black,
                550px 500px 0px 20px rgb(173, 171, 171),
                600px 500px 0px 20px rgb(173, 171, 171),
                650px 500px 0px 20px rgb(173, 171, 171),
                
                0px 550px 0px 20px rgb(173, 171, 171),
                50px 550px 0px 20px rgb(173, 171, 171),
                100px 550px 0px 20px rgb(173, 171, 171),
                150px 550px 0px 20px rgb(173, 171, 171),
                200px 550px 0px 20px rgb(173, 171, 171),
                250px 550px 0px 20px black,
                300px 550px 0px 20px black,
                350px 550px 0px 20px black,
                400px 550px 0px 20px black,
                450px 550px 0px 20px rgb(173, 171, 171),
                500px 550px 0px 20px rgb(173, 171, 171),
                550px 550px 0px 20px rgb(173, 171, 171),
                600px 550px 0px 20px rgb(173, 171, 171),
                650px 550px 0px 20px rgb(173, 171, 171);
}
